version: "3.8"

services:
  redis:
    image: redis:7
    container_name: reachinbox_redis
    ports:
      - "6379:6379"

  mysql:
    image: mysql:8
    container_name: reachinbox_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: reachinbox
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
